<a href="https://colab.research.google.com/github/Homaoa/Classification-of-a-Bank-Marketing-Data-Set/blob/main/Cleaning_and_Preparing_the_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
url='/content/bank-additional-full.csv'
data=pd.read_csv(url)
data.head()

  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0  56;"housemaid";"married";"basic.4y";"no";"no";...
1  57;"services";"married";"high.school";"unknown...
2  37;"services";"married";"high.school";"no";"ye...
3  40;"admin.";"married";"basic.6y";"no";"no";"no...
4  56;"services";"married";"high.school";"no";"no...

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                        --------------  -----
 0   age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"  41188 non-null  object
dtypes: object(1)
memory usage: 321.9+ KB

In [50]:
#Data from this resource is not prepared. all the data are in one column and the name of this column is the name of all the variables.
#I split the data and put them in correct columns with correct headers.

In [51]:
a=data[
'age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'][1]
print(a)

57;"services";"married";"high.school";"unknown";"no";"no";"telephone";"may";"mon";149;1;999;0;"nonexistent";1.1;93.994;-36.4;4.857;5191;"no"

In [52]:
age=[]
job=[]
marital=[]
education=[]
default=[]
housing=[]
loan=[]
contact=[]
month=[]
day=[]
duration=[]
campaign=[]
pdays=[]
previous=[]
poutcome=[]
emp_var_rate=[]
cons_price_idx=[]
cons_conf_idx=[]
euribor3m=[]
nr_employed=[]
decision=[]
for i in range(0,41187):
  j=str(data['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'][i])
  age.append(j.split(';')[0])
  job.append(j.split(';')[1])
  marital.append(j.split(';')[2])
  education.append(j.split(';')[3])
  default.append(j.split(';')[4])
  housing.append(j.split(';')[5])
  loan.append(j.split(';')[6])
  contact.append(j.split(';')[7])
  month.append(j.split(';')[8])
  day.append(j.split(';')[9])
  duration.append(j.split(';')[10])
  campaign.append(j.split(';')[11])
  pdays.append(j.split(';')[12])
  previous.append(j.split(';')[13])
  poutcome.append(j.split(';')[14])
  emp_var_rate.append(j.split(';')[15])
  cons_price_idx.append(j.split(';')[16])
  cons_conf_idx.append(j.split(';')[17])
  euribor3m.append(j.split(';')[18])
  nr_employed.append(j.split(';')[19])
  decision.append(j.split(';')[20])

In [53]:
data_organized = {'Age':age,'Job':job,'Marital':marital,'Education':education,'Default':default,'Housing':housing,'Loan':loan,'Contact':contact,
        'Month':month,'Day':day,'Duration':duration,'Campaign':campaign,'Pdays':pdays,'Previous':previous,'Poutcome':poutcome,
        'Emp_var_rate':emp_var_rate,'Cons_price_idx':cons_price_idx,'Cons_conf_idx':cons_conf_idx,'Euribor3m':euribor3m,'Nr_employed':nr_employed,'Decision':decision}
df = pd.DataFrame(data_organized)
df.head()

  Age          Job    Marital  ... Euribor3m Nr_employed Decision
0  56  "housemaid"  "married"  ...     4.857        5191     "no"
1  57   "services"  "married"  ...     4.857        5191     "no"
2  37   "services"  "married"  ...     4.857        5191     "no"
3  40     "admin."  "married"  ...     4.857        5191     "no"
4  56   "services"  "married"  ...     4.857        5191     "no"

[5 rows x 21 columns]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41187 entries, 0 to 41186
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             41187 non-null  object
 1   Job             41187 non-null  object
 2   Marital         41187 non-null  object
 3   Education       41187 non-null  object
 4   Default         41187 non-null  object
 5   Housing         41187 non-null  object
 6   Loan            41187 non-null  object
 7   Contact         41187 non-null  object
 8   Month           41187 non-null  object
 9   Day             41187 non-null  object
 10  Duration        41187 non-null  object
 11  Campaign        41187 non-null  object
 12  Pdays           41187 non-null  object
 13  Previous        41187 non-null  object
 14  Poutcome        41187 non-null  object
 15  Emp_var_rate    41187 non-null  object
 16  Cons_price_idx  41187 non-null  object
 17  Cons_conf_idx   41187 non-null  object
 18  Euribor3m       41187 non-null  object
 19  Nr_employed     41187 non-null  object
 20  Decision        41187 non-null  object
dtypes: object(21)
memory usage: 6.6+ MB

In [55]:
#The type of all the variables are object, some of them should be integers or floats. I correct the type of the variables

In [56]:
df['Age']=df['Age'].astype('int')
df['Duration']=df['Duration'].astype('int')
df['Campaign']=df['Campaign'].astype('int')
df['Previous']=df['Previous'].astype('int')
df['Emp_var_rate']=df['Emp_var_rate'].astype('float')
df['Cons_price_idx']=df['Cons_price_idx'].astype('float')
df['Cons_conf_idx']=df['Cons_conf_idx'].astype('float')
df['Euribor3m']=df['Euribor3m'].astype('float')
df['Nr_employed']=df['Nr_employed'].astype('float')

In [57]:
#Variable Pdays means the number of days since the last call from the bank to a customer. Many customers have never been called before.
#The raw data set put 999 as Pdays for people who have never been called before. But giving this variable to the model like that is not wise.
#Because the model will consider 999 an int number, not a way of saying that the customer was not called before.
#To solve this problem, I decided to make Pdays a categorical variable, and observarions with 999 means they were never called before, not that 
#they were called 999 days ago.

In [58]:
df['Pdays'].replace('999','Never been called before')

0        Never been called before
1        Never been called before
2        Never been called before
3        Never been called before
4        Never been called before
                   ...
41182                           9
41183    Never been called before
41184    Never been called before
41185    Never been called before
41186    Never been called before
Name: Pdays, Length: 41187, dtype: object

In [59]:
#Based on the basic information that was provided by the data collectors, the variable Duration is a variable that sees the future.
#Meaning that  this attribute highly affects the output target.
#Yet, the duration is not known before a call is performed. Also, after the end of the call Decision is obviously known.
#Thus, this input should be discarded if the intention is to have a realistic predictive model.

In [60]:
df.drop(['Duration'], axis = 1)

       Age            Job    Marital  ... Euribor3m Nr_employed Decision
0       56    "housemaid"  "married"  ...     4.857      5191.0     "no"
1       57     "services"  "married"  ...     4.857      5191.0     "no"
2       37     "services"  "married"  ...     4.857      5191.0     "no"
3       40       "admin."  "married"  ...     4.857      5191.0     "no"
4       56     "services"  "married"  ...     4.857      5191.0     "no"
...    ...            ...        ...  ...       ...         ...      ...
41182   29   "unemployed"   "single"  ...     1.028      4963.6     "no"
41183   73      "retired"  "married"  ...     1.028      4963.6    "yes"
41184   46  "blue-collar"  "married"  ...     1.028      4963.6     "no"
41185   56      "retired"  "married"  ...     1.028      4963.6     "no"
41186   44   "technician"  "married"  ...     1.028      4963.6    "yes"

[41187 rows x 20 columns]

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41187 entries, 0 to 41186
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             41187 non-null  int64
 1   Job             41187 non-null  object
 2   Marital         41187 non-null  object
 3   Education       41187 non-null  object
 4   Default         41187 non-null  object
 5   Housing         41187 non-null  object
 6   Loan            41187 non-null  object
 7   Contact         41187 non-null  object
 8   Month           41187 non-null  object
 9   Day             41187 non-null  object
 10  Duration        41187 non-null  int64
 11  Campaign        41187 non-null  int64
 12  Pdays           41187 non-null  object
 13  Previous        41187 non-null  int64
 14  Poutcome        41187 non-null  object
 15  Emp_var_rate    41187 non-null  float64
 16  Cons_price_idx  41187 non-null  float64
 17  Cons_conf_idx   41187 non-null  float64
 18  Euribor3m       41187 non-null  float64
 19  Nr_employed     41187 non-null  float64
 20  Decision        41187 non-null  object
dtypes: float64(5), int64(4), object(12)
memory usage: 6.6+ MB

In [63]:
df.to_csv('bank_marketing_cleaned_data.csv')